# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.venv/
venv/

# Django
db.sqlite3
data/
*.sqlite3

# env files
.env

# Node
node_modules/

# Git
.git/
.gitignore

# IDEs
.vscode/
.idea/

# Logs
*.log

# Coverage / test artifacts
.coverage
.coverage.*
coverage.xml
htmlcov/

# OS
.DS_Store

# misc
build
dist
uploads
