{% extends 'homework/base.html' %}
{% load static %}

{% block title %}Courses – Pisa{% endblock %}

{% block extra_head %}
<script src="{% static 'homework/js/disclosure.js' %}" defer></script>
<script src="{% static 'homework/js/course-list-grades.js' %}" defer></script>
<script src="{% static 'homework/js/course-search.js' %}" defer></script>
{% endblock %}

{% block content %}
<c-page-header title="Courses">
    <p class="meta">Your ongoing and past courses.</p>
    {% if is_site_admin %}
    <a class="button" href="{% url 'homework:course_create' %}">Create course</a>
    {% endif %}
</c-page-header>

<c-course-card-list :active="active_cards" :previous="previous_cards" :show_grades_toggle="show_grades_toggle" />
{% endblock %}
